header, footer{
    background-color: rebeccapurple;
    color: blanchedalmond;
    border-radius: 25px;
    text-align: center;
}

h1{
font-weight:bold;
font-family: 'Quicksand', sans-serif;
font-size: 1.5rem;
}

header, main, footer{
    margin: 1rem auto;
    padding: 1rem;
    max-width: 750px;
    font-family: 'Quicksand', sans-serif;
}


h2{
margin-top: 50px;
line-height: .95em;
margin: 1em auto;
align-items: center;
font-weight: normal;
font-family:'Quicksand', sans-serif;
font-size: 1rem;
}

img{
    height: 250px;
    margin: 20px;
}




footer a:link, footer a:visited{
color: blanchedalmond;
}


#lastmodified{
    color: white;
    margin-top:-5px
}
  