header{
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #c8d5b9;
}

h1{
    font-family: "Cabin Condensed", sans-serif;
    color: #3A3B38;
    text-align: center;
    font-size: 24pt;
    padding-top:50px;
   }

header img{
    padding-right: 3px;
}

nav {
    background-color: #40798c;
    text-align: center;
    font-family: "Gupter", serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
}

nav ul a:link, nav ul a:visited{
    color: whitesmoke;
}

nav ul a:hover{
    color: #c8d5b9;
    text-decoration: underline;
}

nav ul a.active{
    color: #21174f;
    text-decoration: underline;
    background-color: whitesmoke;
}


.navigation li:first-child{
    display: block;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

body{
    background-color: rgb(255, 255, 244);
}

main{
    font-family: "cabin condensed", sans-serif;
}

#bannerad h2{
    background-color: #1f363d;
    color: whitesmoke;
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 0;
    }

#templeActivities{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: left;
    background-color:#40798c;
    max-width: 80%;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
}

#activitiesColumn p{
    text-indent: 40px;
    color: whitesmoke;
}

#activitiesColumn, #activitiesPicture{
    width: 48%;
    flex: 1 0 15em;
    margin: 0.5em
  }

  #activitiesPicture img{
      width:100%
  }

  .templesummary{
      display: block;
      margin-top: 15px;
  }


  .templeattendingpictures img{
      max-width: 100%;
  }

  .templeattendingpictures p{
      display: block;
      margin-bottom: 15px;
  }


.pictures1, .pictures2, .pictures3{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: left;
    background-color:#40798c;
    max-width: 80%;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
}

.Textarea p{
    text-indent: 40px;
    color: whitesmoke;
}

.Textarea, .Picturearea{
    width: 48%;
    flex: 1 0 15em;
    margin: 0.5em
  }

  .Picturearea img{
      width:100%
  }

  
/*#pictures{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: #70a9a1;
}

#pictures img{
    max-width: 80%;
    margin: auto;
    margin-bottom: 15px;
}*/

#contactNavigation{
    background-color: #1f363d;
    color: whitesmoke;
   padding: 15px;
   margin-top:15px;
   margin-bottom: 0;
}

#contactNavigation p{
    display: block;
    margin: auto;
    text-align: center;
}
.templeinformation{
    display: block;
    background-color: #70a9a1;
    margin: auto;
    margin-bottom: 15px;
    max-width: 70%;
    padding: 15px;
}

.templeinformation img{
    max-width: 100%;
    display: block;
    margin: auto;
}

#bostonweather, #gilbertweather, #laieweather, #manhattanweather{
    text-transform: capitalize;
}
  

h2{
    font-size: 24pt;
    text-align: center;
}
 

    h3{
        font-size: 24pt;
    }

fieldset{
    margin: 15px;
}

.reservationForm{
    list-style-type: none;
}

.row{
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
}

.row label {
    padding: 10px;
  }

  .row input {
    flex: 1;
  }

.Daterow{
    flex: .5;
    padding: 10px;
}

input{
    border: solid black 1px;

}

.submitbuttonReservation{
    padding: 5px;
    font-size: 14pt;
    display: block;
    margin: auto;
    background-color: #40798c;
    color: whitesmoke;
    margin-bottom: 15px;
}

/*.services, .freeamenities, .extraservices{
background-color: #1f363d;
color: whitesmoke;
text-align: left;
padding-top: 5px;
padding-bottom: 25px;
padding-right: 15px;
max-width: 80%;
margin: auto;
margin-bottom: 15px;
font-size: 12pt;
}*/
.hotelservices, .freeamenities{
    background-color: #1f363d;
    color: whitesmoke;
    max-width: 80%;
    display: block;
    margin: auto;
    padding: 30px;
    margin-bottom: 15px;
}

.extraservices{
background-color: #1f363d;
color: whitesmoke;
text-align: left;
padding: 15px;
max-width: 50%;
margin: auto;
margin-bottom: 15px;
}


.extraservices a:active{
    color: whitesmoke;
}

.extraservices a:link, .extraservices a:visited{
    color:whitesmoke;
}

.extraservices a:hover{
    color: #c8d5b9;
}

.receptionSection{
    background-color: #1f363d;
    color: whitesmoke;
    display: block;
    margin: auto;
    padding: 30px;
    margin-bottom: 15px;
    margin-top: 25px;
    max-width: 80%;
}

#receptionservicespictures{
    display: block;
    margin-top: 15px;
}


#receptionservicespictures img{
    max-width: 100%;
}

#receptionservicespictures figcaption{
    display: block;
    margin-bottom: 15px;
}

.contactform form{
    margin: auto;
    width: 80%;
}

legend {
    font-size: 30pt;
    padding: 5px;
}

fieldset div {
    text-align: center;
    padding: 5px;
}

.contactForm label {
    width : 33%;
    text-align: right;
    float: left;
}

.contactInput input, textarea {
    width: 50%;
}

#contactformSubmit{
text-align: center;
}

.submitbuttonContact{
    display: block;
    margin: auto;
    background-color: #40798c;
    color: whitesmoke;
}

.contactform{
    max-width: 70%;
    margin: auto;
    padding: 25px;
}

iframe{
    width: 80%;
    display: block;
    margin: auto;
    padding: 25px;
}

footer{
    font-family: "Gupter", serif;
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #c8d5b9;
    margin-top: 0;
    padding: 15px;
}
