header{
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #c8d5b9;
}

h1{
    font-family: "Cabin Condensed", sans-serif;
    color: #3A3B38;
    text-align: center;
    font-size: 24pt;
    padding-top:50px;
   }

header img{
    padding-right: 3px;
}

nav {
    background-color: #40798c;
    text-align: center;
    font-family: "Gupter", serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
}

nav ul a:link, nav ul a:visited{
    color: whitesmoke;
}

nav ul a:hover{
    color: #21174f;
    text-decoration: underline;
}

nav ul a.active{
    color: #21174f;
    text-decoration: underline;
    background-color: whitesmoke;
}


.navigation li:first-child{
    display: block;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

body{
    background-color: rgb(255, 255, 244);
}

main{
    font-family: "cabin condensed", sans-serif;
}

#bannerad h2{
    background-color: #1f363d;
    color: whitesmoke;
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 0;
    }

    .templestats{
        display:grid;
        margin-bottom: 10px;

    }
    
    .templestats section{
        margin: 15px;
        background-color: cadetblue;
        padding: 10px;
    }

.templestats h3{
    text-align: center;
}

.templestats img{
    width: 80%;
    margin: auto;
    display: block;
}
 

    h3{
        font-size: 24pt;
    }

input{
    border: solid black 1px;

}

/*input[type=text], textarea {
    width: 80%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; /
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }*/

.contactform{
    max-width: 70%;
    align-content: center ;
    margin: auto;
    padding: 25px;
}

footer{
    font-family: "Gupter", serif;
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #c8d5b9;
}
