@media only screen and (min-width: 60em) {

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 40px;
}

nav ul a{
    font-size: 20px;
}

header img {
    margin: 50px 80px;
    float: left;
    display: block;
    max-width: 100px;
}

main{
    font-size: 30px;
}

footer{
    font-size: 20px;
}


  
  






}