@media only screen and (min-width: 37.5em) {

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 20px;
    }

     h3{
         font-size: 30px;
     }

     nav ul a{
         font-size:15px;
     }

     header img {
        margin: 30px 10px;
        float: left;
        display: block;
        max-width: 100px;
    }

    main{
        font-size: 20px;
    }

    footer{
        font-size:15px;
    }

    table, th, td{
        margin-left: auto;
        margin-right:auto;
        align-items: center;
    }

     nav ul { display: flex; }

     nav ul li { flex: 1 1 100%; }

   


      
 








}
