header{
    background-color: navy;
    color: whitesmoke;
    text-align: center;
    padding:30px;
    font-size: 32pt;
}

body{
background-color: white;
font-family: "ubuntu", sans-serif;
}

table, th, td{
    border: 1px gray solid;
    border-collapse: collapse;
}

table{
    box-shadow: 5px 5px 5px #628ca6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

td, th, tfoot{
    padding: 15px;
}

thead, tfoot{
    background-color: #7fb9c2;
}

thead{
    font-size: 24pt;
    font-weight: bold;
}

th{
background-color: #628ca6;
color: white;
}

tfoot{
    font-size: 8pt;
}

tr:nth-child(6){
font-style: italic;
}

.colored{
    background-color: #628ca6;
    color: white;
}
