header, footer{
    background-color: rebeccapurple;
    color: blanchedalmond;
    border-radius: 25px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-weight:bold;
    font-size: .75rem;
    }

h2{
    font-size: .5rem;
}

h3{
    background-color: rebeccapurple;
    color: blanchedalmond;
    margin: 0;
    padding: 6px;
}

h4{
    font-family: 'Quicksand', sans-serif;
}

a:link, a:visited{
    color: purple;
}

img {

    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section p, h4, a{
    margin-left: 5px;
    margin-right: 5px;
}

main {
	display: grid;
	grid-template-columns: 1fr;
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	/* padding: 0 1rem; */
    background-color: #eee;
}

section:nth-child(2) {
	display: block;
	margin: 0.5rem;
}


footer a:link, footer a:visited{
    color: blanchedalmond;
    }
    
    
#lastmodified{
    color: white;
    margin-top:-5px
    }
